:root {
    --light-white: rgba(248,248,248,1.0);
    --medium-white: rgba(232,232,232,1.0);
    --dark-white: rgba(192,192,192,1.0);

    --lighter-gray: rgba(64,64,64,1.0);
    --light-gray: rgba(48,48,48,1.0);
    --medium-gray: rgba(32,32,32,1.0);
    --dark-gray: rgba(18,18,18,1.0);

    --light-purple: rgba(151,64,250,1.0);
    --medium-purple: rgba(93,31,153,1.0);
    --dark-purple: rgba(50,27,99,1.0);
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

* {
    /* make a .noselect class */
    -webkit-user-select: none;
}

html {
    border: 1px solid var(--light-gray);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

body {
    background: var(--dark-gray);
    color: var(--light-white);
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* overflow-y: scroll; */
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

#titleBar {
    background: var(--medium-purple);
    height: 30px;
    width: 100%;

    font-weight: 600;

    position: fixed;
    top: 0;
    z-index: 1;
}

.drag {
    -webkit-app-region: drag;
}

.nodrag {
    -webkit-app-region: none;
}

#spafaxLogo {
    /* float: left; */
    display: block;
    /* margin: 3px 0px 3px 10px; */
    height: 30px;

    position: absolute;
    left: 0;
    top: 0;
}

#title {
    margin: 0 auto;
    width: fit-content;
    /* font-size: 14pt; */
    position: relative;
    top: 8px;
}

#version {
    color: var(--dark-white);
    font-size: 10pt;
}

#windowBtnsBox {
 

    /* float: right;
    margin-left: auto; */
    height: 30px;
    width: fit-content;

    position: absolute;
    right: 0;
    top: 0;
}

.titleBarBtn  {
    display: inline-block;
    background: var(--medium-purple);
    font-size: 30px;
    padding: 0px 10px 0px 10px;
}

.titleBarBtn:hover {

    background: var(--dark-purple);
}


.btn{
    float:right;
    background: var(--medium-gray);
    border: 2px solid var(--medium-purple);
    border-radius: 10px;
    margin-top: 50px;
    padding: 100px;
    text-align: center; 
    width: 100px; 
    margin-left: 30px;
}

.btn:hover {
    border: 2px solid var(--light-purple);

}